doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/styles/style.css')
  body
    header
      nav
        ul
          li
            a(href='/') Home
          li
            a(href='/services') Our Services
          li
            a(href='/contact') Contact Us

    main
      block content

    footer
      p © 2024 Your Company Name
